@media screen and (max-width: 1280px) {

    /* Classes gerais */
    .main_page_workspace {
        flex-direction: column;
    }

    .main_page_workspace img {
        width: 400px;
    }

    .main__info p {
       padding: 20px;
    }

    .button_page {
        display: flex;
        
    }

    .logo_img {
        padding-left: 10px;
    }

    #background_img {


        height: 110vh; /* Garante que o container tenha a altura da tela */
        width: 150%; /* Faz o container preencher a largura da tela */
        overflow: hidden; /* Evita overflow caso a imagem ultrapasse os limites */
    }
    /* Cabeçalho */
    .navigation, .navigation_social {
        display: none;
    }
}